extends template.jade

block title
  title Elwau.ru - игрушки для взрослых - О компании

block content
  main
    .col-md-4
      include incl-left-column.jade
    .col-md-8
      .about-info
        h1 О компании
        p Компания Elway была основана в 2007-м году двумя энтузиастами, которые решили, что им по силам качественно обслуживать покупателей в интернете. Сняли они офис, придумали и нарисовали сайт, пригласили курьера, и стали работать. Работа шла, клиентов становилось все больше. И, соответственно, увеличился и штат сотрудников — нас уже 35 человек. В день наш сайт посещает более 8000 человек. Мы стремимся быть полезными и ежедневно привлекать внимание новых покупателей.
        p Мы сотрудничаем со всей Россией: с регионами нашей необъятной родины и Москвой. За 8 лет обслужили уже около 545 тыс. человек из регионов, и есть одна глобальная, великая цель — обслужить больше людей, помочь всем желающим приобрести то, что им нужно.
        p И мы очень счастливы, что все больше людей становятся нашими постоянными клиентами!
        p Безусловно, гордимся тем, что 545 тыс. человек теперь знают, что покупать в интернете не так страшно, и что по ту сторону экрана живые люди — ничем не хуже, а, может, и лучше продавцов в соседнем магазине.
        p Смело рассказывайте о нас своим знакомым и приглашайте к нам в офис: не только покажем ассортимент продукции, но и угостим вкусным чаем!
        p Спасибо огромное, что посетили наш сайт! Надеемся на то, что вы найдете себе товар по вкусу, а уж подробную консультацию, подбор лучшей цены и доставку мы берем на себя.