extends template.jade

block title
  title Elwau.ru - игрушки для взрослых - Контакты

block content
  main
    .col-md-4
      include incl-left-column.jade
    .col-md-8
      .contacts-info
        h1 Контакты
        .row
          .contacts-info__txt.col-xs-12.col-md-6
            .contacts-info__txt__item
              p (495) 120-04-97
              p 8-800-700-60-30
              p ООО "Элвэй" 129344, Москва, 
              p ул. Искры, д. 31, к. 1, эт. 5, оф. 506 
              p ОГРН 1157746521910

            .contacts-info__txt__item
              h5 Для оптовых покупателей:

              p (495) 656-66-42
              p (495) 120-04-97
             
            .contacts-info__txt__item
              h5 Режим работы:
              p Пн. — пт.: 09:00 - 21:00
              p Cб.: 10:00 - 18:00
              p Вс.: выходной

          .contacts-info__form.col-xs-12.col-md-6
            include incl-form.jade
        .row
          .col-xs-12.contacts-info-map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.939965380115!2d37.65206089999999!3d55.86370800000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b536c10589dbdb%3A0x1c454e7f383dd0d1!2z0YPQuy4g0JjRgdC60YDRiywgMzHQujHRgTEsINCc0L7RgdC60LLQsCwgMTI5MzI3!5e0!3m2!1sru!2sru!4v1442767904248", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)

