extends template.jade

block title
  title Elwau.ru - игрушки для взрослых - Доставка

block content
  main
    .col-md-4
      include incl-left-column.jade
      .banners
        a(href="")
          img(src="http://placehold.it/280x250", alt="")
        a(href="")
          img(src="http://placehold.it/280x250", alt="")
    .col-md-8
      .delivery-info
        h1 Доставка
        p Магазин Elway.ru — это качественный сервис, учитывающий все пожелания клиента. Поэтому доставка осуществляется во все регионы России различными способами и максимально быстро, чтобы доставить эмоции и подарки точно в срок.
        p Мы с радостью готовы предложить вам различные способы доставки по Москве, Санкт-Петербургу, а также другим городам (выберите удобный для вас способ доставки).
        h2 Доставка по Москве и Московской области 
        p Стоимость доставки курьером — 300 руб. Заказы доставляются с 10:00 до 20:00 ежедневно.
        h2 Стоимость доставки по Московской области — 550 руб.
        p Доставка крупногабаритных товаров осуществляется до подъезда, ее стоимость — 550 руб. 
        p Самовывоз из пунктов выдачи заказов в Москве 
        p Стоимость самовывоза из пунктов выдачи заказов — 120 руб. Большинство пунктов самовывоза работает ежедневно с 10:00 до 20:00, более подробную информацию вы можете уточнить, выбрав интересующий вас пункт из списка, или у наших менеджеров по телефону: +7 (495) 641-75-57.
        p Если заказ оформлен до 15:00, то самовывоз возможен на следующий день. Если заказ оформлен после 15:00, то самовывоз возможен через день. Свой заказ вы можете забрать в течение 7 календарных дней.
        p Обратите внимание — крупногабаритные товары недоступны в пунктах самовывоза. Вы можете заказать их доставку или самовывоз с основного склада на ул. Искры, метро Бабушкинская.
        p Пожалуйста, перед выездом на пункт выдачи заказов ознакомьтесь с тем, как добраться. При необходимости позвоните по номеру телефона для справок: +7 (495) 641-75-57 или нашим менеджерам — 8 (800) 700-60-30.
        h2 Доставка по Санкт-Петербургу
        p Стоимость доставки курьером — 390 руб. Заказы доставляются с 10:00 до 18:00 по будням. 
        p Если заказ оформлен до 15:00, то доставка возможна на следующий день. Если заказ оформлен после 15:00, то доставка ставится на день позже.
        h2 Самовывоз из пунктов выдачи заказов в Санкт-Петербурге
        p Стоимость самовывоза из пунктов выдачи заказов — 200 руб. Большинство пунктов самовывоза работает по графику: понедельник — суббота с 10:00 до 20:00, воскресенье — выходной. Более подробную информацию вы можете уточнить у наших менеджеров по телефону: +7 (495) 641-75-57.
        p Если заказ оформлен до 15:00, то самовывоз возможен на следующий день. Если заказ оформлен после 15:00, то самовывоз возможен через день. Заказ необходимо забрать в течение 7 календарных дней.
        p Пожалуйста, перед выездом на пункт выдачи заказов ознакомьтесь, как добраться. При необходимости позвоните по номеру телефона для справок: 8 (800) 700-60-30.

        h2 Доставка по России
        p Стоимость доставки  — от 390 руб. Сроки доставки зависят от удаленности вашего города. Доставка в регионы осуществляется посредством курьерских служб с оплатой товара при получении. 
        p Стоимость доставки в регионы зависит от удаленности вашего города, а также от габаритов заказанного товара. Поэтому, пожалуйста, уточняйте стоимость доставки у менеджеров при заказе, а также по телефону: 8 (800) 700-60-30.
        p P.S. Для обеспечения более удобной и недорогой доставки мы сотрудничаем с рядом курьерских служб, поэтому всегда готовы предложить вам наиболее оптимальный способ доставки  — недорогой и быстрый.
        p Если у вас есть вопросы или предложения, напишите нам на почту 
          a(href="mailto:zakaz@elway.ru") zakaz@elway.ru 
          | или позвоните по телефону: + 7 (495) 641-75-57 или 8 (800) 700-60-30. Мы делаем все, чтобы доставка для вас была удобной и быстрой!
        
        h2 Оплата
        p В интернет-магазине Elway.ru делать покупки просто и удобно. Сегодня мы предлагаем самый большой выбор различных вариантов оплат. Все что вам необходимо — это выбрать желаемый способ оплаты:
 
        ul
          li наличными курьеру;
          li банковской картой;
          li выставление счета юр. лицу (с НДС);
          li через Сбербанк РФ;
          li через систему Робокасса (платежные терминалы, банковские карты, электронные деньги, SMS...)
 
        p Дорогие покупатели, вся наша продукция пользуется огромным спросом, поэтому, получив заказ, мы подтверждаем наличие и резервируем заказанные товары на 3 календарных дня. Пожалуйста, сообщите нам, если вы не сможете оплатить в течении 3-х дней, и мы придержим ваш заказ на оговоренный срок. Если вы с нами не связались и оплата не поступила, мы не гарантируем наличия заказанных позиций на складе.        