@import 'nib'

/* ==========================================================================
   0. TOTAL STYLES
   ========================================================================== */
c_gray = #f3f2f0
c_orange = #ed6d3b

body
	border-color #f1f1f1
p
menu
h1
h2
h3
h4
h5
	margin 0
	padding 0
h1 
	font-weight 500
	line-height 1
	margin-bottom 15px
h2 
	color #4f4f4f
	font-size 24px
	font-weight 500

h3 
	text-decoration underline
	font-size 16px
	color #000
h4 
	font-size 24px
	line-height 1
h5
	font-size 16px
	margin-bottom 10px
a 
	color c_orange
	text-decoration underline
	transition opacity .5s linear
	&:hover 
		color c_orange
		text-decoration none
		opacity .8
		transition opacity .5s linear

.wrapper
	max-width 960px
	border 1px solid red
	margin 0 auto

.breadcrumbs
	margin-bottom 15px
	.str
		padding 0 5px

.pagination
	overflow hidden
	margin-bottom 60px
	padding-top 5px
	.pages-l
		float left
		padding-left 15px
		font-size 13px
		p
			float left
			margin-right 15px
		ul
			float left
			margin 0
			padding 0
			line-height 1
		li
			list-style none
			float left
			padding 3px
			margin 0 3px
			a 
				color #4f4f4f
			.exeption
				text-decoration none
		.active
			background-color #f37d43
			border-radius 2px
			border 1px solid #da896a
			box-shadow 0 0 1px 1px #d8d8d8
			margin-top -2px
			a 
				color #fff
				text-decoration none
	.pages-r
		float right
		span
			margin 0 5px
		a 
			font-size 13px
			color #4f4f4f
		.page-prev
			&:before
				content '\2190'
		.page-next
			&:after
				content '\2192'
	
sprite = url('../images/sprite.png') no-repeat


.menu 
	overflow hidden
	height 48px
	line-height 48px
	li 
		float left
		margin-right 30px
		list-style-type none
		a 
			text-decoration underline
			transition opacity .5s linear
			&:hover 
				text-decoration none
				opacity .8
				transition opacity .5s linear

.white-bg
	background-color #fff
	border 1px solid #e7e7e7
	border-radius 5px
	padding 10px 15px
	box-shadow 0 2px 2px 0 #c1c1c1
	margin-bottom 30px


/* ==========================================================================
   1. MENU
   ========================================================================== */
.menu-search 
	background-color #4f4f4f
	overflow hidden
	padding 0 15px

		
.top-menu
	@extends .menu
	li 
		a 
			color #e2e2e2
			font-size 14px
			


/* ==========================================================================
   2. TOP SEARCH
   ========================================================================== */
.top-search 
	height 23px
	background-color #fff
	border-radius 2px
	border-top 1px solid #b3b4b5
	box-shadow 0 -2px 0 0 #3c3c3d
	margin-top 12px
	border 0
	float left
	padding-left 10px
	color #c0c0c0
	box-sizing border-box
	width 200px
	&:focus 
		outline none

.top-submit 
	float left
	margin 12px 0 0 -25px
	height 23px
	width 20px
	border 0
	background sprite 0 5px

	
/* ==========================================================================
   3. LOGO
   ========================================================================== */
.logo-phones
	overflow hidden
	background-color #f8f8f8
	margin-bottom 5px
	padding 0 15px

.logo 
	margin 15px 0 30px

.top-phones
	margin 45px 0 5px
	padding-left 20px
	&:before 
		content ''
		position absolute
		width 20px
		height 25px
		left 15px
		background sprite 0 -14px
	span 
		font-size 20px
		color c_orange
	.code 
		color #4f4f4f
	
.top-letter 
	a 
		background sprite 0 -37px
		text-decoration underline
		color #4f4f4f
		font-size 13px
		padding-left 25px

.icq 
	background sprite 0 -57px
	margin-left 30px
	padding 4px 0 3px 25px
		
		
.cart-info 
	margin-top 50px
	span
		background sprite 0 -78px
		display block
		padding-left 25px
		font-size 13px
		color #727272
		margin-bottom 10px
.authorised
.enter 
	font-size 13px
	text-decoration underline
	padding 1px 0 0 25px
.authorised
	color c_orange
	background sprite 0 -100px
.enter 
	color #4f4f4f
	background sprite 5px -165px
	
/* ==========================================================================
   4. MAIN
   ========================================================================== */
main 
	background-color #f8f8f8
	overflow hidden
	padding 15px
	box-sizing border-box
	margin-bottom 5px

.left-menu
	margin-bottom 80px 
	li
		background-color c_gray
		margin-bottom 2px
		list-style none
		a 
			color #4f4f4f
			padding 5px 20px
			display block
			text-decoration underline
		a.active
			background-color c_orange
			color #fff
	&__sub 
		font-size 13px
		background-color #f8f8f8
		li
			background-color #f8f8f8
			padding-left 30px
			color #8c8c8c
			a 
				display inline-block
				color #8c8c8c
				padding 5px 0
				
				
.news-info
	margin-bottom 30px
	&__item
		margin-bottom 20px
		.date 
			font-size 12px
			color #898989
			display block
		a 
			color #4f4f4f
			font-size 14px
			text-decoration underline
		p 
			color #7d7d7d
			font-size 13px
		
.write-us
	margin-bottom 30px
	button 
		background-color c_orange
		color #fff
		font-size 20px
		display block
		border 0
		margin 0 auto
		border-radius 2px
		padding 5px 35px 5px 15px
		&:after 
			content ''
			position absolute
			width 20px
			height 25px
			margin-left 5px
			background sprite 0 -133px
		&:focus
			outline none

.banners
	img 
		margin-bottom 30px

.main-slider 
	margin-bottom 50px
.slider-info
	margin 0 35px
	overflow hidden
	&__txt
		float left
		width 53%
		margin-right 2%
	&__img 
		float right
		width 45%
		img 
			max-width 100%
	&__detail
		margin 15px 0
		padding 15px 10px
		border-top 1px solid #000
		border-bottom 1px solid #000
		font-size 13px
		color #4f4f4f
		tr
			&:nth-child(odd)
				background-color c_gray
		td 
			padding 2px 5px
			vertical-align top

.slider-price
	padding-left 35px
	p 
		color #717171
		font-size 18px
		display inline-block
		vertical-align middle
		margin-right 20px
		.num
			color #010101
			font-size 22px
			display inline-block
			vertical-align middle
			margin-right 5px
		.rub
			color #717171
			font-size 14px
			
	.add-to-cart
		background-color #4f4f4f
		color #fff
		text-transform uppercase
		font-size 13px
		border-radius 2px
		padding 10px 25px 10px 15px
		text-decoration none
		&:after 
			content ''
			background sprite 0 -119px
			position absolute
			width 10px
			height 15px
			margin 6px 0 0 5px
		
.slick-active 
		outline none
	&:focus
	&:active
	&:hover
		outline none
	
.slick-arrow
	width 35px
	height 253px
	position absolute
	top 0
	border 0
	background-color #f8f8f8 
	z-index 1
	span 
		display block
		width 25px
		height 48px
		background url(../images/arrows.png) no-repeat
	&:focus
		outline none
.slick-next
	right 0
	span
		background-position -25px 0
		&:hover
			background-position -25px -52px
.slick-prev
	span
		&:hover
			background-position 0 -52px

.cat-info
	&__item
		background-color #fff
		padding 10px
		box-sizing border-box
		margin-bottom 15px
		overflow hidden
		&__row 
			margin-bottom 30px
		&__sm
			position relative
			text-align center
			img 
				margin-bottom 30px
				max-width 100%
			.price 
				position absolute
				background-color #4f4f4f
				color c_gray
				font-size 24px
				border-radius 2px
				border 1px solid #fff
				right 15px
				top 100px
				padding 0 10px
			a 
				font-size 14px

.review
	margin-bottom 30px
	&__item 
		overflow hidden
		padding-bottom 10px
		padding-top 15px
		&:nth-child(even)
			border-bottom 1px solid #efefef
		&:nth-child(odd)
			border-top 1px solid #fff
		img 
			border 1px solid #999
			float left
			margin-right 20px
		p 
			font-size 13px
			

.about 
	margin-bottom 30px
	p 
		font-size 13px

/* ==========================================================================
   5. FOOTER MENU
   ========================================================================== */
footer 
	padding-bottom 15px
.footer-menu
	background-color #f8f8f8
	padding 0 30px
	margin-bottom 15px
	@extends .menu
	li
		a 
			color #747474
			font-size 13px


/* ==========================================================================
   6. COPYRIGHT INFO
   ========================================================================== */
.copyright 
	padding 0 15px
	overflow hidden
	font-size 13px
	span 
		display block
		color #747474
		a 
			color #747474
			text-decoration none
.item-1
	color #5e5e5e
	a 
		color #5e5e5e
		text-decoration underline

.with-love
	p
		text-align right
		color #747474
		a 
			color #747474
			text-decoration underline



/* ==========================================================================
   7. CATALOG
   ========================================================================== */
.cat-filtr 
	background-color #4f4f4f
	padding 7px 15px 4px
	margin-bottom 15px
	span
		float left
		color c_gray
		font-size 14px
	.list-of-buttons
		margin-left 80px
		a
			border 0
			background-color #dfdfdf
			display inline-block
			text-decoration none
			color #000
			margin 0 5px 5px 0
			font-size 13px
			line-height 1
			padding 2px 4px 4px 4px
			&:focus
			&:active 
				outline none 
		.active 
			background-color darken(#dfdfdf, 20%)
.cat-sorting
	margin-bottom 15px
	p
		font-size 13px
		color #8c8c8c
		display inline-block
	.cat-sorting-list 
		display inline-block
		padding 0
		margin 0
		li 
			padding 5px
			display inline-block
			list-style none
			font-size 13px
			color #8c8c8c
			cursor pointer
		.active
			background-color #eee
			
		.uarr
			&:after 
				content '\2191'
		.darr
			&:after 
				content '\2193'
				
			
/* ==========================================================================
   8. CATALOG ITEM
   ========================================================================== */
.catalog-item
	margin-bottom 30px
	overflow hidden
	.img-big
		margin-bottom 5px
		img
			border 10px solid c_gray
			max-width 100%
	.img-small
		margin-left -6px
		img 
			width 106px
			vertical-align top
			border 1px solid #ececec
			padding 3px
			margin-left 6px
			cursor pointer
.cat-item-info 
	border-top 1px solid c_gray
	border-bottom 1px solid c_gray
	padding 10px 0 8px
	margin-bottom 15px
	position relative
	&:before
		content ''
		position absolute
		width 100%
		height 1px
		background-color #fff
		top 0
	&:after
		content ''
		position absolute
		width 100%
		height 1px
		background-color #fff
		margin-top 15px
		bottom -2px
		left 0
	span 
		display block
		font-size 14px
		color #4f4f4f

.price-buy 
	background rgb(255,152,62)
	background linear-gradient(to bottom,  rgba(255,152,62,1) 0%,rgba(234,122,47,1) 100%)
	border-radius 5px 
	border 1px solid #b86024
	border-top 0
	font-size 0
	text-align center 
	padding 5px 10px 0
	margin-bottom 30px
	box-shadow 0 0 5px 0 #f1d7bc
	position relative
	overflow hidden
	&:before
		content ''
		position absolute
		left 0
		bottom -14px
		width 100%
		height 1px
		background-color c_gray
	&:after
		content ''
		position absolute
		left 0
		bottom -15px
		width 100%
		height 1px
		background-color #fff
	&__price
		color #fff
		font-size 25px
		font-weight 700
		margin-bottom 5px
		float left
		line-height 1.5
	&__buy
		float right
		margin-top 4px
		a 
			background-color #dadada
			font-size 20px
			color #4f4f4f
			text-decoration none
			padding 3px 10px 5px
			cursor pointer
			border 1px solid #c48534
			box-shadow  0 0 5px 0 #f4a159
			border-radius 5px

.share
	overflow hidden
	margin-bottom 15px
	&__txt
		font-size 13px
		width 80px
		float left
		color #adadad		

.cat-item-lnk
	span 
		display block


.catalog-item-info 
	@extends .white-bg
	
.tab-menu
	overflow hidden
	margin-bottom 15px
	li
		float left
		list-style none
		cursor pointer
		padding 5px 0 0 0
		line-height 1
		color c_orange
		margin-right 15px
		border-bottom 1px dashed c_orange
	.active
		background-color c_gray
		border-radius 5px
		padding 5px 10px
		cursor default
		color #4f4f4f
		border-bottom 0
			
.tab-content
	&__item
		margin-bottom 15px
		span
			display block

.catalog-dop-item 
	@extends .white-bg
	h4 
		font-size 18px
		font-style italic
		font-weight 500
		margin-bottom 15px

/* ==========================================================================
   9. ABOUT
   ========================================================================== */
.about-info
	p 
		margin-bottom 15px
		

/* ==========================================================================
   10. DELIVERY
   ========================================================================== */
.delivery-info 
	h2 
		font-size 20px
	p 
		margin-bottom 15px



/* ==========================================================================
   11. CONTACTS
   ========================================================================== */
.contacts-info
	&__txt 
		&__item 
			margin-bottom 25px
	&__form
		background-color #f3f2f0
		overflow hidden
		padding 15px
.inp-txt, 
.ta-form
	display block
	border 1px solid #D7D7D7
	border-radius 5px
	padding 5px
	width 100%
	box-sizing border-box
	margin-bottom 5px
.inp-txt
	height 36px
.ta-form
	height 80px
	resize none
.inp-subm
	background-color c_orange
	color #fff
	padding 5px 15px
	border 0
	border-radius 5px
	display block
	margin 0 auto
	transition opacity .5s linear
	&:hover 
		opacity .8
		transition opacity .5s linear
