footer
	menu.footer-menu
		include incl-menu.jade
	.copyright
		.col-md-5
			p 
				span.item-1 &copy; 2007-2011 Интернет-супермаркет 
					a(href="http://Elwau.ru") «Elwau.ru»
				span Адрес: 105118, г.Москва, ул. Кирпичная, д. 22
				span Тел.: +7 (495) 540-55-11, 8 (800) 555-55-90
				span Email: 
					a(href="mailto:info@elwau.ru") info@elwau.ru
		.col-md-4.pull-right.with-love
			p Дизайн сайта - 
				a(href="") Плюснин Никита
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="js/plugins/slick.min.js")
script(src="js/elwau.js")