form
  label(for="name") ФИО
  input(type="text", class="inp-txt", id="name")
  label(for="email") E-mail
  input(type="text", class="inp-txt", id="email")
  label(for="message") Сообщение
  textarea(name="", class="ta-form", id="message")
  input(type="submit", class="inp-subm")
