menu.left-menu
	li
		a(href="") Автомодели
	li
		a(href="") Самолеты
	li
		a(href="", class="active") Вертолеты
		menu.left-menu__sub
			li
				a(href="") Для начинающих (Соосные)
			li
				a(href="") С электродвигателем
			li
				a(href="") Вертолеты с ДВС
			li
				a(href="") Вертолеты Mikado
	li
		a(href="") Аккумуляторы, кабели
	li
		a(href="") Аппаратура
	li
		a(href="") Инструмент, материалы
	li
		a(href="") Винты, крепеж, клей
	li
		a(href="") Двигатели ДВС
	li
		a(href="") Электродвигатели
	li
		a(href="") Катера, яхты
.news-info
	.news-info__item
		span.date 12.10.2011
		a(href="") Много скидок!
		p Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.
	.news-info__item
		span.date 12.10.2011
		a(href="") Обменяй старое на новое!
		p Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.
	.news-info__item
		span.date 12.10.2011
		a(href="") Обновление в каталогах!
		p Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.					
.white-us
	button Написать нам
.banners
	a(href="")
		img(src="http://placehold.it/280x250", alt="")
	a(href="")
		img(src="http://placehold.it/280x250", alt="")
