.logo-phones
	.col-md-4
		.logo
			img(src="images/logo.png", alt="elwau.ru")
	.col-md-5
		.top-phones 
			span.code (495) 
			span 234-22-33, 
			span.code (495) 
			span 232-22-35
		.top-letter
			a(href="mailto:") Написать сообщение 
			span.icq 288-22-08
	.col-md-3
		.cart-info
			span В вашей корзине пусто
			a(href="") Личный кабинет