doctype html
head
	title Elwau.ru - игрушки для взрослых
	meta(charset="utf-8")
	link(rel="stylesheet", href="css/plugins/bootstrap.css")
	link(rel="stylesheet", href="css/plugins/slick.css")
	link(rel="stylesheet", href="css/elwau.css")
body
	.wrapper
		include incl-header.jade
		main
			.col-md-4
				include incl-left-column.jade
			.col-md-8
				.main-slider
					.main-slider__item
						.slider-info
							.slider-info__txt
								h4 Электрический мини-вертолет Beacon
								.slider-info__detail
									table
										tr
											td Тип: 
											td мини вертолет 
										tr
											td Шасси: 
											td пластик 
										tr
											td Электродвигатели: 
											td 180 размера (2 шт.) 
										tr
											td Время полета: 
											td 10 - 12 минут 
							.slider-info__img
								img(src="img/slider-1.png", alt="")
						.slider-price
							p Цена: 
								span.num 6 960 
								span.rub рублей
							a(href="", class="add-to-cart") В корзину
					.main-slider__item
						.slider-info
							.slider-info__txt
								h4 Электрический мини-вертолет HM 60#B
								.slider-info__detail
									table
										tr
											td Тип: 
											td мини вертолет 
										tr
											td Шасси: 
											td пластик 
										tr
											td Электродвигатели: 
											td 180 размера (2 шт.) 
										tr
											td Время полета: 
											td 10 - 12 минут 
							.slider-info__img
								img(src="img/slider-2.png", alt="")
						.slider-price
							p Цена: 
								span.num 16 960 
								span.rub рублей
							a(href="", class="add-to-cart") В корзину
					.main-slider__item
						.slider-info
							.slider-info__txt
								h4 Кордовая модель-копия PT-19 Profile Control Line 36 ARF
								.slider-info__detail
									table
										tr
											td Тип: 
											td мини вертолет 
										tr
											td Шасси: 
											td пластик 
										tr
											td Электродвигатели: 
											td 180 размера (2 шт.) 
										tr
											td Время полета: 
											td 10 - 12 минут 
							.slider-info__img
								img(src="img/slider-3.png", alt="")
						.slider-price
							p Цена: 
								span.num 116 960 
								span.rub рублей
							a(href="", class="add-to-cart") В корзину
				.cat-info
					.cat-info__item
						h3 Распродажа
						.row.cat-info__item__row
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-1.jpg", alt="")
								span.price 18 480 р.
								a(href="") CYCLONE D4 WORLD CHAMPIONSHIP EDITION KIT
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-2.jpg", alt="")
								span.price 5 712 р.
								a(href="") Кордовая модель-копия PT-19 Profile Control Line 36 ARF
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-3.jpg", alt="")
								span.price 185 480 р.
								a(href="") Электрический мини-вертолет HM 60#B
					.cat-info__item
						h3 Хиты продаж
						.row.cat-info__item__row
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-1.jpg", alt="")
								span.price 18 480 р.
								a(href="") CYCLONE D4 WORLD CHAMPIONSHIP EDITION KIT
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-2.jpg", alt="")
								span.price 5 712 р.
								a(href="") Кордовая модель-копия PT-19 Profile Control Line 36 ARF
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-3.jpg", alt="")
								span.price 185 480 р.
								a(href="") Электрический мини-вертолет HM 60#B
						.row.cat-info__item__row
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-2.jpg", alt="")
								span.price 18 480 р.
								a(href="") CYCLONE D4 WORLD CHAMPIONSHIP EDITION KIT
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-3.jpg", alt="")
								span.price 5 712 р.
								a(href="") Кордовая модель-копия PT-19 Profile Control Line 36 ARF
							.col-md-4.cat-info__item__sm
								a(href="")
									img(src="img/cat-sm-1.jpg", alt="")
								span.price 185 480 р.
								a(href="") Электрический мини-вертолет HM 60#B
				.review
					h2 Последние обзоры
					.review__item
						img(src="img/review-1.jpg", alt="")
						a(href="") Наша компания организовала тест на прочность и выносливость эктрическому мини-вертолету HM60#B
						p Было приглашено около 30 человек, но зрителей собралось в разы больше. Место проведения теста - площадь.
						p Зрители смотрели как на шоу, маневры и падения вертолета сопровождались возгласами, вот вот и ходила бы волна по зрителям.
					.review__item
						img(src="img/review-1.jpg", alt="")
						a(href="") Наша компания организовала тест на прочность и выносливость эктрическому мини-вертолету HM60#B
						p Было приглашено около 30 человек, но зрителей собралось в разы больше. Место проведения теста - площадь.
						p Зрители смотрели как на шоу, маневры и падения вертолета сопровождались возгласами, вот вот и ходила бы волна по зрителям.
				.about
					h2 О компании
					p История компании elwau.ru – один из примеров сочетания творческого подхода с чрезвычайной практичностью. Знаменитая идея братьев Венинг – оснастить различные виды транспорта мобильными холодильниками – в 70-х годах прошлого века перешагнула стандарты инженерного мышления.
					p Что же до применения этой и множества других разработок – автохолодильники автокондиционеры, автопылесосы, автокофеварки elwau.ru – то здесь братья-изобретатели блестяще продемонстрировали свои организаторские таланты.  
						a(href="") читать дальше 
		include incl-footer.jade